.card-back {
    position: absolute;
    margin-top: 29%;
    margin-left: 18%;
    height: 30%;
    width: 27%;
    background-image: url(../images/bg-card-back.png);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-back-cvc {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 15%;
    width: 75%;
    margin-bottom: 1%;
    color: white;
    font-size: .9rem;
}