input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-labels {
    color:  hsl(278, 68%, 11%);
    font-size: .8rem;
}

.form-inputs {
    height: 5vh;
    color: hsl(278, 68%, 11%);
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid hsl(270, 3%, 87%);
    background-color: transparent;
    margin-top: 1.5%;
    margin-bottom: 5%;
    padding: 0 4%;
}

.form-inputs:focus {
   outline: none;
   border: 1px solid hsl(249, 99%, 64%);
}

.form-inputs::placeholder {
    color: hsl(270, 3%, 87%)
}

.form-inputs:active {
    border: none;
    outline: none;
}

.form-inputs.large {
    width: 100%;
}

.user-form-row {
    display: flex;
    flex-direction: row;
}

.user-form-row.buttons {
    justify-content: space-between;
    gap: 3%;
}

.form-labels.inline {
    width: 44.5%;
}

.form-inputs.exp-style {
    width: 25%;
}

.form-inputs.large.adjust {
    margin-left: 4%;
}

.button-submit {
    height: 7vh;
    width: 100%;
    color: white;
    background-color: hsl(278, 68%, 11%);
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    margin-top: 4%;
    letter-spacing: .1rem;
}

.button-submit:hover {
    cursor: pointer;
    background-color: hsl(249, 99%, 64%);
    transition: all .2s;
}

